@import "bourbon";

.module {
    background-color: #eee;
    height: 100%;
    text-align: center;
    height: 210px;
    padding: 12px;
    .box-population {
        color: white;
        height: 60px;
        opacity: 0.75;
        @include transition(opacity 0.3s ease-out);
        .numeric-label {
            height: 60%;
            font-family: "BebasNeue";
            letter-spacing: 1px;
            padding-top: 7px;
        }
        .figure {
            height: 40%;
            line-height: 3px;
        }
        &:hover {
            opacity: 1;
        }
    }
    .box-population.red-label {
        background-color: #d92524;
    }
    .box-population.yellow-label {
        background-color: #eb8000;
    }
    .box-population.blue-label {
        background-color: #1595a2;
    }
    .title {
        margin-bottom: -12px;
    }
    .title.red-label {
        color: #d92524;
    }
    .title.yellow-label {
        color: #eb8000;
    }
    .title.blue-label {
        color: #1595a2;
    }
    .address-footer {
        padding-top: 10px;
        font-size: 12px;
    }
    .color-line {
        margin-top: 10px;
        height: 3px;
    }
    .color-line.red-label {
        background-color: #d92524;
    }
    .color-line.yellow-label {
        background-color: #eb8000;
    }
    .color-line.blue-label {
        background-color: #1595a2;
    }
}

.footer {
    position: fixed;
    background-color: black;
    bottom: 0;
    left: 0;
    color: white;
    height: 60px;
    h4 {
        font-size: 14px;
    }
}


.radar-legend{
    li{
        width: 100%;
        display: inline-block;
        text-align: left;
    }

    margin-bottom: 20px;
}