<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h4 class="component-title">{{table.componentName}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="module grey-box">
            <div ng-repeat="item in table.model" class="col-sm-4 col-xs-12">
                <h4 class="title" ng-class="table.getClass($index)">{{item.title}}</h4>
                <div class="box-population" ng-class="table.getClass($index)">
                    <h2 class="numeric-label">{{item.variables.population}}</h2>
                    <p class="figure">Population</p>
                </div>
                <p class="address-footer">
                    {{item.address}}
                </p>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div ng-repeat="line in table.model" class="color-line col-xs-4" ng-class="table.getClass($index)"></div>
                </div>
            </div>
        </div>
    </div>
</div>
