<div class="container">
    <div>
        <geoblink-navbar creation-date="main.creationDate"></geoblink-navbar>
    </div>
    <ui-view></ui-view>
    <div class="row">
        <div class="footer col-xs-12">

            <h4>Used: <acme-malarkey extra-values="['Gulp', 'Yeoman', 'angular-nvd3', 'Bourbon', 'Firebase', 'ui-router', 'ES6', 'angular 1.4']"></acme-malarkey></h4>
        </div>
    </div>
</div>
