<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active"><a ui-sref="main.table">Component Table</a></li>
        <li ui-sref-active="active"><a ui-sref="main.graph">Component Graph</a></li>
        <li ui-sref-active="active"><a ui-sref="/how">How</a></li>
      </ul>
    </div>
  </div>
</nav>
