<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h4 class="component-title">{{graph.componentName}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <canvas id="radar" class="chart chart-radar" 
                chart-data="graph.chartData" 
                chart-labels="graph.chartLabel" 
                chart-options="graph.chartOptions" 
                chart-colours="graph.colours"
                chart-legend="true"
                chart-series="graph.addresses">
            </canvas>
        </div>
    </div>
</div>
